{% extends "base.twig" %}

{% block content %}
	<section class="intro">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<select id="sort">
						<option value="title_asc">Title (ASC)</option>
						<option value="title_desc">Title (DESC)</option>
						<option value="date_asc">Date (ASC)</option>
						<option value="date_desc">Date (DESC)</option>
					</select>
				</div>
				<div class="col-md-8">
					<div class="heading">
						<h1>{{page.title}}</h1>
						<div class="message">{{ page.intro }}</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container">
				<div id="results" class="row dummy">
	
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2020/04/Lake-Nona-Town-Center-Office-Building-3-1000x750.jpg 1000w, http://lakenona.test/wp-content/uploads/2020/04/Lake-Nona-Town-Center-Office-Building-3-2000x1500.jpg 2000w, http://lakenona.test/wp-content/uploads/2020/04/Lake-Nona-Town-Center-Office-Building-3-768x576.jpg 768w, http://lakenona.test/wp-content/uploads/2020/04/Lake-Nona-Town-Center-Office-Building-3-1536x1152.jpg 1536w, http://lakenona.test/wp-content/uploads/2020/04/Lake-Nona-Town-Center-Office-Building-3-2048x1536.jpg 2048w, http://lakenona.test/wp-content/uploads/2020/04/Lake-Nona-Town-Center-Office-Building-3-1800x1350.jpg 1800w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Thursday April 02</h3>
								<h2><a title="" href="http://lakenona.test/lake-nona-installs-view-smart-windows-across-commercial-projects/">Lake Nona Installs View® Smart Windows Across Commercial Projects</a></h2>
								<p class="excerpt">View Smart Windows predictively tint in response to outdoor conditions, eliminating the need for blinds.</p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2020/02/leadLN-Accelerator-Rendering_Credits-Lake-Nona-1000x490.jpg 1000w, http://lakenona.test/wp-content/uploads/2020/02/leadLN-Accelerator-Rendering_Credits-Lake-Nona-1536x752.jpg 1536w, http://lakenona.test/wp-content/uploads/2020/02/leadLN-Accelerator-Rendering_Credits-Lake-Nona-2048x1003.jpg 2048w, http://lakenona.test/wp-content/uploads/2020/02/leadLN-Accelerator-Rendering_Credits-Lake-Nona-1800x881.jpg 1800w, http://lakenona.test/wp-content/uploads/2020/02/leadLN-Accelerator-Rendering_Credits-Lake-Nona-2000x979.jpg 2000w, http://lakenona.test/wp-content/uploads/2020/02/leadLN-Accelerator-Rendering_Credits-Lake-Nona-768x376.jpg 768w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Thursday February 20</h3>
								<h2><a title="" href="http://lakenona.test/lake-nona-partners-with-lead-sports-to-create-first-of-its-kind-accelerator/">Lake Nona Partners With Lead Sports To Create First-Of-Its-Kind Accelerator In The United States</a></h2>
								<p class="excerpt">Lake Nona and industry leader enhance region’s entrepreneurial ecosystem with  new opportunity for start-ups.
									</p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2020/01/Code20Wall20Lake20Nona20Town20Center-scaled-300x200.jpg 300w, http://lakenona.test/wp-content/uploads/2020/01/Code20Wall20Lake20Nona20Town20Center-scaled-993x662.jpg 993w, http://lakenona.test/wp-content/uploads/2020/01/Code20Wall20Lake20Nona20Town20Center-scaled-1536x1024.jpg 1536w, http://lakenona.test/wp-content/uploads/2020/01/Code20Wall20Lake20Nona20Town20Center-scaled-2048x1366.jpg 2048w, http://lakenona.test/wp-content/uploads/2020/01/Code20Wall20Lake20Nona20Town20Center-scaled-1800x1200.jpg 1800w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Wednesday January 08</h3>
								<h2><a title="" href="http://lakenona.test/lake-nona-and-verizon-bolster-community-wide-innovation-ecosystem-in-florida/">Lake Nona and Verizon Bolster Community-Wide Innovation Ecosystem in Florida</a></h2>
								<p class="excerpt">Lake Nona and Verizon Bolster Community-Wide Innovation Ecosystem in Florida Lake Nona, Fla. – (Jan. 8, 2020) – Lake Nona announced today an agreement <span class="ellipsis">…</span></p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2020/01/191121_LN_PROhWhatFun-300x200.jpg 300w, http://lakenona.test/wp-content/uploads/2020/01/191121_LN_PROhWhatFun-993x663.jpg 993w, http://lakenona.test/wp-content/uploads/2020/01/191121_LN_PROhWhatFun-1536x1026.jpg 1536w, http://lakenona.test/wp-content/uploads/2020/01/191121_LN_PROhWhatFun-2048x1367.jpg 2048w, http://lakenona.test/wp-content/uploads/2020/01/191121_LN_PROhWhatFun-1800x1202.jpg 1800w, http://lakenona.test/wp-content/uploads/2020/01/191121_LN_PROhWhatFun-1000x668.jpg 1000w, http://lakenona.test/wp-content/uploads/2020/01/191121_LN_PROhWhatFun-2000x1335.jpg 2000w, http://lakenona.test/wp-content/uploads/2020/01/191121_LN_PROhWhatFun-768x513.jpg 768w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Tuesday November 19</h3>
								<h2><a title="" href="http://lakenona.test/oh-what-fun-holiday-festival-lake-nona/">Lake Nona’s Oh What Fun! Holiday Festival Returns</a></h2>
								<p class="excerpt">Lake Nona’s Oh What Fun! Holiday Festival Returns Weekly Activities Include Open-Air Skating Rink, Snow, Holiday Movies, Santa Claus And More Images are available <span class="ellipsis">…</span></p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2019/11/191112_LN_PRBUILDGrantAnnouncement_FINAL-1-300x230.jpg 300w, http://lakenona.test/wp-content/uploads/2019/11/191112_LN_PRBUILDGrantAnnouncement_FINAL-1-993x760.jpg 993w, http://lakenona.test/wp-content/uploads/2019/11/191112_LN_PRBUILDGrantAnnouncement_FINAL-1-1536x1176.jpg 1536w, http://lakenona.test/wp-content/uploads/2019/11/191112_LN_PRBUILDGrantAnnouncement_FINAL-1-2048x1567.jpg 2048w, http://lakenona.test/wp-content/uploads/2019/11/191112_LN_PRBUILDGrantAnnouncement_FINAL-1-1800x1378.jpg 1800w, http://lakenona.test/wp-content/uploads/2019/11/191112_LN_PRBUILDGrantAnnouncement_FINAL-1-1000x765.jpg 1000w, http://lakenona.test/wp-content/uploads/2019/11/191112_LN_PRBUILDGrantAnnouncement_FINAL-1-2000x1531.jpg 2000w, http://lakenona.test/wp-content/uploads/2019/11/191112_LN_PRBUILDGrantAnnouncement_FINAL-1-768x588.jpg 768w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Tuesday November 12</h3>
								<h2><a title="" href="http://lakenona.test/orange-county-awarded-20-million-federal-build-grant/">Orange County Awarded $20 Million Federal BUILD Grant  to Reimagine Mobility in the Region</a></h2>
								<p class="excerpt">Orange County Awarded $20 Million Federal BUILD Grant to Reimagine Mobility in the Region US DOT Recognizes Lake Nona Application among Exemplary Public-Private Partnerships <span class="ellipsis">…</span></p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2020/01/20190918_NONA_0009-300x200.jpg 300w, http://lakenona.test/wp-content/uploads/2020/01/20190918_NONA_0009-993x662.jpg 993w, http://lakenona.test/wp-content/uploads/2020/01/20190918_NONA_0009-1536x1024.jpg 1536w, http://lakenona.test/wp-content/uploads/2020/01/20190918_NONA_0009-1800x1200.jpg 1800w, http://lakenona.test/wp-content/uploads/2020/01/20190918_NONA_0009.jpg 2048w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Wednesday September 18</h3>
								<h2><a title="" href="http://lakenona.test/regions-first-autonomous-vehicles-now-in-service-in-lake-nona/">Region’s First Autonomous Vehicles Now in Service in Lake Nona</a></h2>
								<p class="excerpt">Region’s First Autonomous Vehicles Now in Service in Lake Nona Together with Mobility Company Beep and Shuttle Manufacturer NAVYA, Lake Nona Officially Launches Driverless <span class="ellipsis">…</span></p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2020/01/linear_park_designs-300x200.jpg 300w, http://lakenona.test/wp-content/uploads/2020/01/linear_park_designs-993x662.jpg 993w, http://lakenona.test/wp-content/uploads/2020/01/linear_park_designs.jpg 1000w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Tuesday June 11</h3>
								<h2><a title="" href="http://lakenona.test/lake-nona-announces-plans-for-linear-community-park/">Lake Nona Announces Plans For Linear Community Park</a></h2>
								<p class="excerpt">Lake Nona Announces Plans For Linear Community Park New Public Recreational Area Provides Eco-Friendly Alternative to Stormwater Management with Featured Waterway ORLANDO, Fla. – <span class="ellipsis">…</span></p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2019/06/190604_PX_PRTenantAnnouncements_FINAL-300x225.jpg 300w, http://lakenona.test/wp-content/uploads/2019/06/190604_PX_PRTenantAnnouncements_FINAL-993x745.jpg 993w, http://lakenona.test/wp-content/uploads/2019/06/190604_PX_PRTenantAnnouncements_FINAL-1536x1152.jpg 1536w, http://lakenona.test/wp-content/uploads/2019/06/190604_PX_PRTenantAnnouncements_FINAL-1800x1350.jpg 1800w, http://lakenona.test/wp-content/uploads/2019/06/190604_PX_PRTenantAnnouncements_FINAL-1000x750.jpg 1000w, http://lakenona.test/wp-content/uploads/2019/06/190604_PX_PRTenantAnnouncements_FINAL-2000x1500.jpg 2000w, http://lakenona.test/wp-content/uploads/2019/06/190604_PX_PRTenantAnnouncements_FINAL-768x576.jpg 768w, http://lakenona.test/wp-content/uploads/2019/06/190604_PX_PRTenantAnnouncements_FINAL.jpg 2048w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Tuesday June 04</h3>
								<h2><a title="" href="http://lakenona.test/floridas-first-neighborhood-barre-among-new-fitness-studios-announced-for-lake-nonas-pixon-apartment-community/">Florida’s First Neighborhood barre™ Among New Fitness Studios Announced for  Lake Nona’s Pixon Apartment Community</a></h2>
								<p class="excerpt">Florida’s First Neighborhood barre™ Among New Fitness Studios Announced for Lake Nona’s Pixon Apartment Community The 11-story, mixed-use building will welcome Rukus Cycling Studios, <span class="ellipsis">…</span></p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2020/01/190305_HPI_PROpening_FINAL-300x201.jpg 300w, http://lakenona.test/wp-content/uploads/2020/01/190305_HPI_PROpening_FINAL-993x664.jpg 993w, http://lakenona.test/wp-content/uploads/2020/01/190305_HPI_PROpening_FINAL-1000x668.jpg 1000w, http://lakenona.test/wp-content/uploads/2020/01/190305_HPI_PROpening_FINAL-768x513.jpg 768w, http://lakenona.test/wp-content/uploads/2020/01/190305_HPI_PROpening_FINAL.jpg 1200w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Tuesday March 05</h3>
								<h2><a title="" href="http://lakenona.test/new-headquarters-for-johnson-johnson/">New Global Headquarters for Johnson &amp; Johnson Human Performance Institute® Reimagines Workplace Wellbeing</a></h2>
								<p class="excerpt">New Global Headquarters for Johnson &amp; Johnson Human Performance Institute® Reimagines Workplace Wellbeing Multi-sensory Experience Fuels Physical, Mental, Emotional and Spiritual Energy for Higher <span class="ellipsis">…</span></p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2020/01/13-2-1000x646.jpeg 1000w, http://lakenona.test/wp-content/uploads/2020/01/13-2-768x496.jpeg 768w, http://lakenona.test/wp-content/uploads/2020/01/13-2.jpeg 1024w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Monday March 04</h3>
								<h2><a title="" href="http://lakenona.test/pulte-homes-purchases-508-sites-for-waterfront-homes-at-isles-of-lake-nona/">Pulte Homes Purchases 508 sites for Waterfront Homes at Isles of Lake Nona</a></h2>
								<p class="excerpt">Pulte Homes Purchases 508 sites for Waterfront Homes at Isles of Lake Nona ORLANDO, Fla. – Pulte Homes has purchased 142 acres for Isles <span class="ellipsis">…</span></p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2019/02/190218_MV_PRShuttleAnnouncement_FINAL-300x200.jpg 300w, http://lakenona.test/wp-content/uploads/2019/02/190218_MV_PRShuttleAnnouncement_FINAL-993x662.jpg 993w, http://lakenona.test/wp-content/uploads/2019/02/190218_MV_PRShuttleAnnouncement_FINAL-1536x1024.jpg 1536w, http://lakenona.test/wp-content/uploads/2019/02/190218_MV_PRShuttleAnnouncement_FINAL-2048x1365.jpg 2048w, http://lakenona.test/wp-content/uploads/2019/02/190218_MV_PRShuttleAnnouncement_FINAL-1800x1200.jpg 1800w, http://lakenona.test/wp-content/uploads/2019/02/190218_MV_PRShuttleAnnouncement_FINAL-1000x667.jpg 1000w, http://lakenona.test/wp-content/uploads/2019/02/190218_MV_PRShuttleAnnouncement_FINAL-2000x1333.jpg 2000w, http://lakenona.test/wp-content/uploads/2019/02/190218_MV_PRShuttleAnnouncement_FINAL-768x512.jpg 768w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Tuesday February 19</h3>
								<h2><a title="" href="http://lakenona.test/navya-names-beep-as-preferred-partner/">Navya Names Beep as Exclusive Dealer and Preferred Partner for Shared Mobility Autonomous Vehicle Research and Development in Lake Nona, Florida</a></h2>
								<p class="excerpt">Navya Names Beep as Exclusive Dealer and Preferred Partner for Shared Mobility Autonomous Vehicle Research and Development in Lake Nona, Florida Beep and NAVYA <span class="ellipsis">…</span></p>
							</div>
						</div>
					</div>
				
					<div class="col-lg-6 post dummies">
						<div class="row h-100">
							<div class="col-md-6">
								<div class="featured-image">
									<img alt="" srcset="http://lakenona.test/wp-content/uploads/2019/02/190214_LNIF_PR_FINAL-300x200.jpg 300w, http://lakenona.test/wp-content/uploads/2019/02/190214_LNIF_PR_FINAL-993x662.jpg 993w, http://lakenona.test/wp-content/uploads/2019/02/190214_LNIF_PR_FINAL-1536x1024.jpg 1536w, http://lakenona.test/wp-content/uploads/2019/02/190214_LNIF_PR_FINAL-2048x1365.jpg 2048w, http://lakenona.test/wp-content/uploads/2019/02/190214_LNIF_PR_FINAL-1800x1200.jpg 1800w, http://lakenona.test/wp-content/uploads/2019/02/190214_LNIF_PR_FINAL-1000x667.jpg 1000w, http://lakenona.test/wp-content/uploads/2019/02/190214_LNIF_PR_FINAL-2000x1333.jpg 2000w, http://lakenona.test/wp-content/uploads/2019/02/190214_LNIF_PR_FINAL-768x512.jpg 768w" sizes="(min-width: 992px) 25vw, 100vw" class="image">
								</div>
							</div>
							<div class="col-md-6">
								<h3>Thursday February 14</h3>
								<h2><a title="" href="http://lakenona.test/seventh-annual-lake-nona-impact-forum-in-orlando/">Building of an Ecosystem of Wellbeing to be Focus of Seventh Annual Lake Nona Impact Forum in Orlando, Florida</a></h2>
								<p class="excerpt">Building of an Ecosystem of Wellbeing to be Focus of Seventh Annual Lake Nona Impact Forum in Orlando, Florida Terrestrial Applications of Space Medicine, <span class="ellipsis">…</span></p>
							</div>
						</div>
					</div>
				</div>
				<button id="load-more" alt="Load More" name="Load More" class="button d-none">Load More</button>
	</section>
	
	<script id="post-template" type="text/x-handlebars-template">
		<div class="col-lg-6 post {{ '{{post.post_type}}' }} animated">
			<div class="row h-100">
				<div class="col-md-6">
					<div class="featured-image">
						<img alt="{{ '{{ post.featured_image_full.alt }}' }}" srcset="{{ '{{ post.srcset }}' }}" sizes="(min-width: 992px) 25vw, 100vw" class="image" />
					</div>
				</div>
				<div class="col-md-6">
					<h3>{{ '{{#formatEventDate}}{{post.post_date}}{{/formatEventDate}}' }}</h3>
					<h2><a title="{{ post.post_title }}" href="{{ '{{post.post_url}}' }}">{{ '{{post.post_title}}' }}</a></h2>
					<p class="excerpt">{{ '{{#excerpt}}{{post.post_excerpt}}{{/excerpt}}' }}</p>
					<a title="Read More" href="{{ '{{post.post_url}}' }}" class="button small">Read More</a>
				</div>
			</div>
		</div>
	  </script>
{% endblock %}

{% block js %}
{# <script src="{{ site.theme.link }}/static/js/plugins/vanilla-select/vanillaSelectBox.js"></script> #}
{# <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script> #}
{# <script src="{{ site.theme.link }}/static/dist/js/lakenona/press.js"></script> #}
{% endblock %}
